h1 {
  text-align: center;
  background-color: burlywood;
  color: beige;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
}
img {
  height: 100px;
}
#first {
  /*background-color: black;*/
  height: 100px;
  display: flex;
  /* flex-direction: column; */
  justify-content:center;
  /* align-items: center; */
  gap: 150px;
  padding-bottom: 40px;
}
#second {
    display: flex;
    justify-content: center;
    gap :150px;
    padding-bottom: 50px;
}
#third{
    display: flex;
    margin: 0 auto;
}
img:hover,.selected{
    scale: 1.2;
    box-shadow: 0 0 5px black;
    border-radius: 30%;
}
